<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Node File Uploads</title>
</head>
<body>
  <div class="container">
    <h1>Choose a File</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    
      <div class="file-field input-field"></div>
        <label for="models" style="display: block">Choose a model:</label><br>
      </div>
      <select id="chooseFileBox"  onchange="setSate();" name="selecting" style="display: flex">
        <option value='None'>None</option>>
        <option value="New York" >New York</option>
        <option value="Indiana" >Indiana</option>
      </select><br><br>
      <button onclick="getModel()" class="btn">Submit</button><br><br>
   
    <button onclick="getPlot()" class="btn">Generate Plot</button><br><br>
    
    <form action="/users/logout" method="GET">
        <button onclick="logout();" class="btn">Logout</button>
    </form>
    <br>
    <img id= 'plot'  src="" alt="Red dot" class="responsive-img">
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  

  <script>
function loadDoc() {
  var url = document.location.protocol + "//" + document.location.hostname + ":8080";
  console.log(url);
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("chooseFileBox").value = this.responseText;
    }
  };
  xhttp.open("GET", url + "/users/getState", true);
  xhttp.send();
}

var val = document.getElementById('chooseFileBox').value;

function setSate() {
  var url = document.location.protocol + "//" + document.location.hostname + ":8080";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      
    }
  };
  //alert(document.getElementById("chooseFileBox").value);
  xhttp.open("POST", url + "/users/setState?value="+document.getElementById("chooseFileBox").value, true);
  xhttp.send();
}

function logout(){
  // var xhttp = new XMLHttpRequest();
  // xhttp.onreadystatechange = function() {
  //   if (this.readyState == 4 && this.status == 200) {
      
  //   }
  // };
  // //alert(document.getElementById("chooseFileBox").value);
  // xhttp.open("GET", "http://localhost:8080/users/logout?value="+document.getElementById("chooseFileBox").value, true);
  // xhttp.send();
}

function getPlot(){
  var url = document.location.protocol + "//" + document.location.hostname + ":8080";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      //console.log(this.responseText);
      document.getElementById('plot').setAttribute('src',"data:image/png;base64,"+this.responseText);
    }
  };
  //alert(document.getElementById("chooseFileBox").value);
  xhttp.open("GET", url + "/getplot?value="+document.getElementById("chooseFileBox").value, true);
  //xhttp.open("GET", "http://localhost:8080/getplot?value="+document.getElementById("chooseFileBox").value, true);
  xhttp.send();
}

function getModel(){
  var url = document.location.protocol + "//" + document.location.hostname + ":8080";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      
    }
  };
  //alert(document.getElementById("chooseFileBox").value);
  xhttp.open("GET", url + "/users/getModel?value="+document.getElementById("chooseFileBox").value, true);
  //xhttp.open("GET", "http://localhost:8080/users/getModel?value="+document.getElementById("chooseFileBox").value, true);
  xhttp.send();
}

window.onload = function(){
  loadDoc();
}
</script>
</body>
</html>